asgiref
beautifulsoup4
Brotli
crispy-bootstrap5
dj-database-url
Django
django-bootstrap-v5
django-bootstrap5
django-crispy-forms
pillow
psycopg2-binary
soupsieve
sqlparse
typing_extensions
whitenoise
